<div ng-controller="page1TableControl">
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="sortable" ng-class="{ 'sorting': urlSearch.sort_by === 'address' }"
            ng-click="sortBy('address')">
                住址
                <i class="glyphicon glyphicon-sort-by-order">
                </i>
            </th>
            <th class="sortable" ng-class="{ 'sorting': urlSearch.sort_by === 'name' }"
            ng-click="sortBy('name')">
                姓名
                <i class="glyphicon glyphicon-sort-by-order">
                </i>
            </th>
            <th>
                头像
            </th>
            <th>
                审核意见
            </th>
            <th>
                回复文案
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in ourClassmateList.list">
            <td>
                {{item.address}}
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.portrait}}
            </td>
            <td>
                <div class="form-group">
                    <label>
                        审核意见
                    </label>
                    <div class="btn-group">
                        <label name="opinion" ng-model="item.opinion" class="btn btn-primary"
                        btn-radio="'dismiss'">
                            解散
                        </label>
                        <label name="opinion" ng-model="item.opinion" class="btn btn-primary"
                        btn-radio="'hide'">
                            隐藏
                        </label>
                        <label name="opinion" ng-model="item.opinion" class="btn btn-primary"
                        btn-radio="'pass'">
                            通过
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="our_classmate_response">
                        回复文案
                    </label>
                    <input type="text" name="response" ng-model="item.response" id="our_classmate_response"
                    class="form-control" placeholder="请输入回复文案">
                </div>
            </td>
            <td>
                <button ng-click="editOurClassmate(item)" class="btn btn-xs btn-info">
                    编辑
                </button>
                <button ng-click="removeOurClassmate(item)" class="btn btn-xs btn-info">
                    删除
                </button>
                <button ng-click="openOurClassmateRateDialog(item)" class="btn btn-xs btn-info">
                    评分
                </button>
                <a target="_blank" ng-href="#/our_classmate/detail/{{item.id}}" class="btn btn-xs btn-primary">
                    详情
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>
